section {
    max-width: 1140px;
    margin: auto;
}

.navbarColor {
    background: #F0F8FF;
}

.navBarLogo {
    height: 70px;
}

.navBarLogo img {
    height: 100%;
}

.navMenuList ul {
    width: 80%;
    margin: auto;
}